body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.parent {
  display: flex;
  flex-direction: row;
  background-color: #6301b3;
}

.leftChild {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  padding: 1rem;
  height: 100%;
  border: 5px solid white;
}

.rightChild {
  display: flex;
  flex-basis: 65%;
  position: relative;
  border: 5px solid white;
}

.hover {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  max-height: 300px;
  max-width: 400px;
  background: rgba(0, 0, 0, 0.7);
  color: lightgray;
  padding: 0.3rem 1rem 1rem 1rem;
  border-radius: 1rem;
  overflow: hidden;
  position: fixed;
}
.hover a {
  color: lightskyblue;
}
